
* {
  box-sizing: border-box;
}

body {
  color: black;
  margin: 0;
  padding: 0;
}


.wrapper{
  text-align: center;
  margin: 50px;
}

.header-image{
  height: 150px;
  width: auto;
}

.art-container{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.duck-Image {
  max-width: 500px;
  max-height: 300px

}

.directions {
  width: 250px;
  margin-left: 200px;
  font-size: 20px;
}
