@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik:ital,wght@0,300;0,500;1,400&family=Sacramento&family=Secular+One&display=swap%27');
* {
  box-sizing: border-box;
}

body {
  color: whitesmoke;
  margin: 0;
  padding: 0;
  height:100%;
  /* background-image:linear-gradient(aquamarine, #aaa); */
  

}

.app-section {
  padding: 30px;

  background: linear-gradient(
    rgba(255, 253, 253, 0.603), 
    rgba(191, 201, 97, 0.616)
  ), url("./images/FernandexToni-DaisyDuck.jpg");
  background-repeat: repeat;
 
  /* background-color: aquamarine; */
}

.wrapper{
  text-align: center;
  margin: 50px;
  /* display: flex;
  flex-direction: row; */
  
}

.header h1{
  font-size: 5rem;
  color: black
  /* display: flex;
  flex-direction: row; */
  
}


.header-image{
  height: 250px;
  width: auto;
}

.main-container h2{
  font-size: 3rem;
}

/* .art-container{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

.frame {
  background-color:#ddc;
  border:solid 5vmin #eee;
  border-bottom-color:#fff;
  border-left-color:#eee;
  border-radius:2px;
  border-right-color:#eee;
  border-top-color:#ddd;
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  box-sizing:border-box;
  display:inline-block;
  margin:10vh 10vw;
  height:auto;
  padding:5vmin 2vmin;
  position:relative;
  text-align:center;
   
}
.frame:before {
  border-radius:2px;
  bottom:-2vmin;
  box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
  content:"";
  left:-2vmin;
  position:absolute;
  right:-2vmin;
  top:-2vmin;
}
.frame:after {
  border-radius:2px;
  bottom:-2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
  content:"";
  left:-2.5vmin;
  position:absolute;
  right:-2.5vmin;
  top:-2.5vmin;
}


.duck-Image {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:auto;
  max-width:85%
p
}

.directions {
  width: 80%;
  margin: auto;
  font-size: 2.5rem;
  background-color: rgba(49, 46, 46, 0.712);
  padding: 20px 50px;
  font-weight: 500;
  color: white; 
}

.score {
  color: hotpink
}
form {
  background-color: white;
  padding: 50px;
  color: blueviolet;
  text-align: center;
  /* display: flex; */
  /* flex-direction: column;
  align-self: center; */
  padding: 15px;
  font-size: 2rem;
  width: 100%;
}


.fieldset  {
  background-color: white;
  display: flex;
  /* flex-direction: column; */
  align-self: center;
  padding: 15px;
  border: none;
}

button{
  /* font-family: 'Sacramento', cursive; */
font-family: 'Secular One', sans-serif;
font-size: 20px;
  text-align: center;
  padding: 10px;
  padding-left : 50px;
  padding-right : 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.3rem;
}
input{
  background-color: lightgray;
  height: 30px;
  border: none;
  align-items: center;
  padding: 5px;
}
.result-container {
  background-color: wheat;
  padding: 50px;
  color: blueviolet;
  font-size: 22px;
  border: 1px groove black;

}

.result {
  border: 1px groove black;
}
