
* {
  box-sizing: border-box;
}

body {
  color: black;
  margin: 0;
  padding: 0;
}


.wrapper{
  text-align: center;
  margin: 50px;
}

.header-image{
  height: 150px;
  width: auto;
}

.art-container{
  width: 200px;
  height: 400px;
  display: flex;
  /* flex-direction: row;
  justify-content: center; */
}

.duck-Image {
  max-width: 500px;

}

.directions {
  width: 250px;
  margin-left: 200px;
}
